.home{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro{
    max-width: 540px;
    text-align: center;
    z-index: 100;
}

.home__img{
    margin-bottom: 1.5rem;
    width:150px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.home__name{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: .5rem;
}

.home__socials{
    display: flex;
    column-gap: 1.75rem;
    margin: 1.5rem 0;
    justify-content: center;
}

.home__social-link{
    color:var(--title-color);
    font-size: 1.3rem;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.home__social-link:hover{
    color:hsl(43, 100%, 40%);
}   

.scroll__down{
    position: absolute;
    bottom: 2.5rem;
    left:0;
    width:100%;
    display: flex;
    justify-content: center;
}

.home__scroll-name{
    font-size: var(--small-font-size);
    color: var(--text-color);
    margin:auto;
}

.mouse{
    border:2px solid var(--text-color);
    display: block;
    height: 1.6rem;
    width:1.25rem;
    margin:auto;
    margin-top:.75rem;
    border-radius:1rem;
    -moz-border-radius:1rem;
    -ms-border-radius:1rem;
    -o-border-radius:1rem;
    -webkit-border-radius:1rem;
    position: relative;
}

.wheel{
    background-color:var(--text-color);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width:0.25rem;
    height:0.25rem;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    animation: ani-mouse 2s linear infinite;
    -webkit-animation: ani-mouse 2s linear infinite;
    z-index: 111;
}

.shapes{
    position: absolute;
    top: 0;;
    left:0;
    width:100%;
    height: 100%;
}

.shape{
    position: absolute;
}

.s1{
    left:2%;
    top:10%;
}

.s2{
    left:18%;
    top:30%;
}

.s3{
    left:5%;
    bottom:30%;
}

.s4{
    left:2%;
    bottom:10%;
}

.s5{
    left:44%;
    top:10%
}

.s6{
    left:25%;
    bottom:20%
}

.s7{
    top:20%;
    right: 25%;
}

.s8{
    right:24%;
    bottom: 20%;
}

.s9{
    right:2%;
    top: 10%;
}

.s10{
    right:11%;
    top: 45%;
}

.s11{
    bottom:10%;
    right: 2%;
}

@keyframes ani-mouse {
    0%{
        top:29%;
    }
    15%{
        top:50%;
    }
    50%{
        top:50%;
    }
    100%{
        top:29%;
    }
}